*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#container{
    width:800px;
    margin: 0 auto;
}
#form_container{
    text-align: left;
    width: 200px;
    margin: 30px auto 0 auto;
}
input{
    display:block;
    width: 200px;
    margin: 5px auto 5px auto;
    padding:2px;
}
.dropdown{
    width:110px;
    margin-left: 5px;
}
.submit_btn{
    background: #ffffff;
    border: 1px solid black;
    margin-left: 3px;
}
.submit_btn:hover{
    background:#000000;
    color:#ffffff;
    border: 1px solid white;
}
.submit_btn:active{
    background:#fcf800;
    color:#000000;
    border: 1px solid black;
    border-radius: 0;
}
table{
    width:100%;
    text-align:center;
    border-collapse: collapse;
    margin-top:30px;
}
td{
    width:auto;
    border: 1px solid lightgrey;
}
